{% extends 'base.html' %}
{% load static %}

{% block menu %}
  {% include 'client/includes/client_menu.html' %}
{% endblock %}

{% block content %}

  <div class="container form-layout bg-white shadow text-center p-5 my-4 my-md-5">
  {% if is_deleted %}
    <h5>Subscription cancelled!</h5>
    <br>
    <h1>✔️</h1>
    <br>
    <p>
      We regret to inform you that your subscription has been cancelled as
      per your request. <br>
      Thank you for your past support!
    </p>
  {% else %}
    <h5>Something went wrong!</h5>
    <br>
    <h1>🧐</h1>
    <br>
    <p>
      We could not cancel your subscription properly. <br>
      Please, check if you have any subscription by now.
    </p>
  {% endif %}

    <a class="btn btn-success mt-4 mt-md-5" href="{% url 'client:dashboard' %}">
      Return to dashboard
    </a>
  </div>

{% endblock %}
